In [1]:
import pandas as pd

In [2]:
file = "./SRR11815065/SRR11815065ReadsPerGene.out.tab"

df = pd.read_csv(file, sep = "\t", header = None)
annot = df.iloc[4:,0:1]
#df['']
annot = annot.reset_index(drop = True)
annot.columns = ['Gene_ID']
annot

            Gene_ID
0           Gm26206
1              Xkr4
2      LOC118567655
3               Rp1
4             Sox17
...             ...
40182           ND6
40183          TrnE
40184          CYTB
40185          TrnT
40186          TrnP

[40187 rows x 1 columns]

In [3]:
#WT

frames = [annot]
srx = ['SRR11815062','SRR11815063','SRR11815064','SRR11815065','SRR11815066','SRR11815067','SRR11815068','SRR11815069','SRR11815070','SRR11815071','SRR11815072','SRR11815073','SRR11815074','SRR11815075','SRR11815076','SRR11815077','SRR11815078',
      'SRR11815079','SRR11815080','SRR11815081','SRR11815082','SRR11815083','SRR11815084','SRR11815085','SRR11815086','SRR11815087','SRR11815088','SRR11815089','SRR11815090','SRR11815091','SRR11815092',
       'SRR11815093','SRR11815094','SRR11815095','SRR11815096','SRR11815097','SRR11815098','SRR11815099','SRR11815100','SRR11815101','SRR11815102','SRR11815103','SRR11815104','SRR11815105','SRR11815106',
      'SRR11815107', 'SRR11815108', 'SRR11815109']
for i in srx:
    file = f"./{i}/{i}ReadsPerGene.out.tab"
    df = pd.read_csv(file, sep = "\t", header = None)
    quant = df.iloc[4:,1:2]
    quant = quant.reset_index(drop = True)
    frames.append(quant)

WT = pd.concat(frames,axis=1, ignore_index=True)
WT

,0,1,2,3,4,5,6,7,8,9,...,39,40,41,42,43,44,45,46,47,48
0,Gm26206,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Xkr4,1,0,1,1,1,1,2,3,1,...,0,0,0,0,1,2,1,0,0,1
2,LOC118567655,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Rp1,0,0,0,0,0,0,2,0,3,...,0,0,0,0,8,0,0,0,0,0
4,Sox17,78,88,69,75,42,42,38,22,96,...,70,78,88,83,112,82,52,71,53,46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40182,ND6,40238,39798,30749,36206,27318,26951,30620,20015,63717,...,23356,30335,29653,32904,44601,31079,36143,30434,29490,25238
40183,TrnE,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
40184,CYTB,393686,397694,263043,324349,233544,238351,247750,170416,505103,...,218186,283388,286319,328883,305894,289725,302201,269534,286702,258092
40185,TrnT,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
40186,TrnP,2284,2271,1440,1654,1086,964,1175,900,2498,...,1290,1494,1360,1430,1401,1294,1367,1341,1267,1002

In [5]:
WT.columns = ['Gene_ID','WT_00_rep1', 'WT_00_rep2', 'WT_02_rep1', 'WT_02_rep2',
             'WT_04_rep1', 'WT_04_rep2', 'WT_06_rep1', 'WT_06_rep2',
             'WT_08_rep1', 'WT_08_rep2', 'WT_10_rep1', 'WT_10_rep2',
             'WT_12_rep1', 'WT_12_rep2', 'WT_14_rep1', 'WT_14_rep2',
             'WT_16_rep1', 'WT_16_rep2', 'WT_18_rep1', 'WT_18_rep2',
             'WT_20_rep1', 'WT_20_rep2', 'WT_22_rep1', 'WT_22_rep2',
             'WT_24_rep1', 'WT_24_rep2', 'WT_26_rep1', 'WT_26_rep2',
             'WT_28_rep1', 'WT_28_rep2', 'WT_30_rep1', 'WT_30_rep2',
             'WT_32_rep1', 'WT_32_rep2', 'WT_34_rep1', 'WT_34_rep2',
             'WT_36_rep1', 'WT_36_rep2', 'WT_38_rep1', 'WT_38_rep2',
             'WT_40_rep1', 'WT_40_rep2', 'WT_42_rep1', 'WT_42_rep2',
             'WT_44_rep1', 'WT_44_rep2', 'WT_46_rep1', 'WT_46_rep2']
WT

,Gene_ID,WT_00_rep1,WT_00_rep2,WT_02_rep1,WT_02_rep2,WT_04_rep1,WT_04_rep2,WT_06_rep1,WT_06_rep2,WT_08_rep1,...,WT_38_rep1,WT_38_rep2,WT_40_rep1,WT_40_rep2,WT_42_rep1,WT_42_rep2,WT_44_rep1,WT_44_rep2,WT_46_rep1,WT_46_rep2
0,Gm26206,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Xkr4,1,0,1,1,1,1,2,3,1,...,0,0,0,0,1,2,1,0,0,1
2,LOC118567655,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Rp1,0,0,0,0,0,0,2,0,3,...,0,0,0,0,8,0,0,0,0,0
4,Sox17,78,88,69,75,42,42,38,22,96,...,70,78,88,83,112,82,52,71,53,46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40182,ND6,40238,39798,30749,36206,27318,26951,30620,20015,63717,...,23356,30335,29653,32904,44601,31079,36143,30434,29490,25238
40183,TrnE,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
40184,CYTB,393686,397694,263043,324349,233544,238351,247750,170416,505103,...,218186,283388,286319,328883,305894,289725,302201,269534,286702,258092
40185,TrnT,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
40186,TrnP,2284,2271,1440,1654,1086,964,1175,900,2498,...,1290,1494,1360,1430,1401,1294,1367,1341,1267,1002

In [6]:
frames = [annot]
srx = ['SRR11815110','SRR11815111','SRR11815112','SRR11815113','SRR11815114','SRR11815115','SRR11815116','SRR11815117','SRR11815118','SRR11815119','SRR11815120','SRR11815121','SRR11815122','SRR11815123','SRR11815124'
      ,'SRR11815125','SRR11815126','SRR11815127','SRR11815128','SRR11815129','SRR11815130','SRR11815131','SRR11815132','SRR11815133','SRR11815134','SRR11815135','SRR11815136','SRR11815137','SRR11815138','SRR11815139',
       'SRR11815140','SRR11815141','SRR11815142','SRR11815143','SRR11815144','SRR11815145','SRR11815146','SRR11815147','SRR11815148','SRR11815149','SRR11815150','SRR11815151','SRR11815152','SRR11815153','SRR11815154','SRR11815155',
      'SRR11815156','SRR11815157']
for i in srx:
    file = f"./{i}/{i}ReadsPerGene.out.tab"
    df = pd.read_csv(file, sep = "\t", header = None)
    quant = df.iloc[4:,1:2]
    quant = quant.reset_index(drop = True)
    frames.append(quant)

KO = pd.concat(frames,axis=1, ignore_index=True)
KO.columns = ['Gene_ID','KO_00_rep1', 'KO_00_rep2', 'KO_02_rep1', 'KO_02_rep2',
             'KO_04_rep1', 'KO_04_rep2', 'KO_06_rep1', 'KO_06_rep2',
             'KO_08_rep1', 'KO_08_rep2', 'KO_10_rep1', 'KO_10_rep2',
             'KO_12_rep1', 'KO_12_rep2', 'KO_14_rep1', 'KO_14_rep2',
             'KO_16_rep1', 'KO_16_rep2', 'KO_18_rep1', 'KO_18_rep2',
             'KO_20_rep1', 'KO_20_rep2', 'KO_22_rep1', 'KO_22_rep2',
             'KO_24_rep1', 'KO_24_rep2', 'KO_26_rep1', 'KO_26_rep2',
             'KO_28_rep1', 'KO_28_rep2', 'KO_30_rep1', 'KO_30_rep2',
             'KO_32_rep1', 'KO_32_rep2', 'KO_34_rep1', 'KO_34_rep2',
             'KO_36_rep1', 'KO_36_rep2', 'KO_38_rep1', 'KO_38_rep2',
             'KO_40_rep1', 'KO_40_rep2', 'KO_42_rep1', 'KO_42_rep2',
             'KO_44_rep1', 'KO_44_rep2', 'KO_46_rep1', 'KO_46_rep2',]
KO

,Gene_ID,KO_00_rep1,KO_00_rep2,KO_02_rep1,KO_02_rep2,KO_04_rep1,KO_04_rep2,KO_06_rep1,KO_06_rep2,KO_08_rep1,...,KO_38_rep1,KO_38_rep2,KO_40_rep1,KO_40_rep2,KO_42_rep1,KO_42_rep2,KO_44_rep1,KO_44_rep2,KO_46_rep1,KO_46_rep2
0,Gm26206,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Xkr4,0,2,0,2,3,2,2,2,1,...,1,7,2,3,0,2,0,1,2,2
2,LOC118567655,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Rp1,0,1,0,0,0,0,0,0,0,...,8,5,2,0,0,0,0,0,0,0
4,Sox17,77,49,46,79,69,31,41,25,45,...,116,129,82,75,50,78,62,83,91,108
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40182,ND6,34035,18334,24659,33375,46184,34478,47307,23510,43185,...,40276,46241,41157,38534,46984,51911,43573,48886,39601,47565
40183,TrnE,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
40184,CYTB,271258,141519,184407,303453,338306,270032,323396,168643,333204,...,351316,391716,368792,304001,338110,366170,344099,370001,327213,388370
40185,TrnT,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
40186,TrnP,2158,1223,1217,1596,1731,1359,1911,1072,1489,...,1756,2164,1755,1891,1949,2268,2029,2123,2007,2302

In [7]:
norm_1 = KO.iloc[:,1:]/KO.iloc[:,1:].sum(axis=0)*1000000
KO_final = pd.concat([annot,norm_1], axis =1)
norm_2 = WT.iloc[:,1:]/WT.iloc[:,1:].sum(axis=0)*1000000
WT_final = pd.concat([annot,norm_2], axis =1)

In [8]:
KO_final[KO_final['Gene_ID'] == 'Cry1']

,Gene_ID,KO_00_rep1,KO_00_rep2,KO_02_rep1,KO_02_rep2,KO_04_rep1,KO_04_rep2,KO_06_rep1,KO_06_rep2,KO_08_rep1,...,KO_38_rep1,KO_38_rep2,KO_40_rep1,KO_40_rep2,KO_42_rep1,KO_42_rep2,KO_44_rep1,KO_44_rep2,KO_46_rep1,KO_46_rep2
23033,Cry1,38.262047,38.249654,20.29537,15.826504,12.076376,12.116033,5.902122,4.327584,7.406947,...,29.230786,30.009959,42.208372,52.120308,42.717743,42.147509,47.147603,46.64791,27.599805,25.298112

In [9]:
avg = []
for i in range(len(norm_2)):
    average = sum(norm_2.iloc[i,:])/48
    avg.append(average)

In [10]:
import matplotlib.pyplot as plt

norm_1 = KO.iloc[:,1:]/KO.iloc[:,1:].sum(axis=0)*1000000
KO_final = pd.concat([annot,norm_1], axis =1)
norm_2 = WT.iloc[:,1:]/WT.iloc[:,1:].sum(axis=0)*1000000
WT_final = pd.concat([annot,norm_2], axis =1)

#_________________________________________________
# Test on WT 
avg = []
for i in range(len(norm_2)):
    average = sum(norm_2.iloc[i,:])/48
    avg.append(average)
    

df_avg = pd.DataFrame(avg,columns=['Avg'])
df_avg.sort_values(by=['Avg'],inplace = True,ascending=False)
# print(df_avg)
# 28401 for exp >0; 22721 is still super low with avg exp of 0.008764 
df_avg = df_avg[(df_avg['Avg'] >= 15)]
WT_final = WT_final.filter(items = df_avg.index.values, axis=0)

In [11]:
WT_final

,Gene_ID,WT_00_rep1,WT_00_rep2,WT_02_rep1,WT_02_rep2,WT_04_rep1,WT_04_rep2,WT_06_rep1,WT_06_rep2,WT_08_rep1,...,WT_38_rep1,WT_38_rep2,WT_40_rep1,WT_40_rep2,WT_42_rep1,WT_42_rep2,WT_44_rep1,WT_44_rep2,WT_46_rep1,WT_46_rep2
10886,Alb,64219.552895,72372.519198,64721.893996,63503.855658,72774.264429,70283.755507,65053.869063,65127.678285,63498.483495,...,63179.632275,67260.324477,75536.653565,72394.603784,27921.858917,68595.880637,77603.623747,74420.077831,60785.026800,61031.832177
40165,COX1,26640.469656,26502.603251,25726.842403,26116.254753,26889.941392,28121.800842,29835.199124,26996.314954,30978.059984,...,23796.547984,24534.102461,25485.479279,26762.840554,32093.338486,26541.427581,26693.396988,27380.241619,25984.955690,27988.592033
14826,Apoe,20504.708227,20742.536974,20343.428555,20732.653524,23726.185257,25188.687796,21696.786268,23265.836710,23915.606617,...,18327.566400,18765.798888,20084.003831,20383.924580,9035.247238,20625.744445,20462.653960,20113.394379,19124.414690,20574.494076
40184,CYTB,15815.181483,15635.622614,14156.304833,14437.445119,16272.298604,18417.029178,16527.117314,15301.174075,17806.506017,...,14056.984176,14379.430272,16207.256622,17592.005489,21806.896889,17720.809947,16124.899580,16641.424697,16160.002182,17874.170939
21332,Trf,12823.888819,13284.503744,17267.814815,17534.550379,12816.114330,12642.211746,11439.433535,12522.440064,11817.301609,...,14097.057527,13564.223112,15113.806393,15047.157463,8176.071441,15282.375120,15463.151258,16431.195000,15051.186887,14109.536398
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4859,Kif3b,14.180741,15.529706,15.768514,12.953012,14.910560,14.990093,14.609238,12.390632,10.752231,...,14.818120,16.034200,14.321215,12.463208,28.515626,13.823119,14.833578,12.533518,16.458625,17.452269
37735,Ranbp6,15.747451,15.647653,16.952498,16.291417,11.984189,10.740324,11.340504,12.211058,15.652429,...,16.364359,15.983459,16.019383,16.047049,17.323243,13.517297,13.659698,14.509245,17.360467,18.006310
14787,Qpctl,15.385903,16.630546,15.284157,16.469466,12.889970,11.744815,13.808732,14.635312,13.114197,...,18.876997,13.598626,18.793057,16.688931,13.972657,15.841539,15.847384,13.212674,15.838608,16.759719
21024,Gsta2,10.404566,15.490390,16.737229,15.089591,17.418879,33.611807,29.885564,21.099990,27.039218,...,7.473487,8.067841,5.603954,7.381643,62.663087,11.070728,6.082834,7.902908,5.692880,5.886678
39353,Apool,13.417471,15.097233,14.638348,14.332886,15.746667,16.226389,16.810630,15.982120,17.591356,...,13.529588,13.903072,13.245709,14.335364,21.743164,14.985239,15.100369,12.965708,14.824035,13.227712

In [12]:
test= WT_final[WT_final['Gene_ID'] == 'Arntl']
average = sum(test.iloc[0,1:])/48
print(average)

18.643944206626287

In [15]:
WT_before = pd.read_csv('WT_arrange.csv')
start = list(WT_final['Gene_ID'])
last = list(WT_before['Gene_ID'])

start_WT = [x for x in start if x not in last]
len(start_WT)

2092

In [16]:
start = list(WT_before['Gene_ID'])
last = list(WT_final['Gene_ID'])

start_WT = [x for x in start if x not in last]
len(start_WT)

0

In [17]:
# Test on KO 
avg = []
for i in range(len(norm_1)):
    average = sum(norm_1.iloc[i,:])/48
    avg.append(average)
    

df_avg = pd.DataFrame(avg,columns=['Avg'])
df_avg.sort_values(by=['Avg'],inplace = True,ascending=False)
# print(df_avg)
# 28401 for exp >0; 22721 is still super low with avg exp of 0.008764 
df_avg = df_avg[(df_avg['Avg'] >= 15)]
KO_final = KO_final.filter(items = df_avg.index.values, axis=0)

In [15]:
test= KO_final[KO_final['Gene_ID'] == 'Arntl']
average = sum(test.iloc[0,1:])/48
print(average)

21.832388650904747

In [18]:
KO_before = pd.read_csv('KO_arrange.csv')
start = list(KO_final['Gene_ID'])
last = list(KO_before['Gene_ID'])

start_KO = [x for x in start if x not in last]
print(len(start_KO))

2172

In [19]:
KO_before = pd.read_csv('KO_arrange.csv')
start = list(KO_before['Gene_ID'])
last = list(KO_final['Gene_ID'])

start_KO = [x for x in start if x not in last]
print(len(start_KO))

0

In [17]:
WT_supp = WT_final[WT_final['Gene_ID'].isin(start_WT)]
len(WT_supp)

2092

In [18]:
# 
KO_supp = KO_final[KO_final['Gene_ID'].isin(start_KO)]
len(KO_supp)

2172

In [20]:
day_1 = KO_supp[KO_supp.columns[::2]] 
day_2 = KO_supp[KO_supp.columns[1::2]]
KO_supp = pd.concat([day_1,day_2], axis =1)
KO_supp

,Gene_ID,KO_00_rep2,KO_02_rep2,KO_04_rep2,KO_06_rep2,KO_08_rep2,KO_10_rep2,KO_12_rep2,KO_14_rep2,KO_16_rep2,...,KO_28_rep1,KO_30_rep1,KO_32_rep1,KO_34_rep1,KO_36_rep1,KO_38_rep1,KO_40_rep1,KO_42_rep1,KO_44_rep1,KO_46_rep1
6586,Selenbp2,668.367916,57.837724,58.089646,276.764094,19.731833,39.241345,114.554260,277.715227,145.361826,...,160.588981,117.969889,79.379705,196.471704,405.758615,395.393314,867.953681,639.912922,1077.738743,902.970005
27632,Serpina4-ps1,88.616966,104.423382,39.579041,99.333149,8.014160,30.378674,233.175535,255.568877,75.102143,...,43.780272,63.539766,109.936190,297.536592,275.630743,389.547157,130.634642,271.038673,209.501762,278.877559
19621,Acta1,0.105371,0.105159,0.134623,0.402566,8.621293,0.480506,0.169459,0.265756,0.176089,...,0.000000,0.170806,2854.983084,713.112291,6.185345,186.433418,4.876449,0.796336,0.665613,0.380312
17127,Aqp8,120.649734,322.681921,281.563141,123.990314,203.996795,141.162062,87.497312,58.510656,103.364497,...,184.686525,150.707671,107.249906,83.050105,53.135057,81.256222,130.688824,127.527535,139.612373,117.570824
15716,Saa1,168.382773,50.423979,34.059514,28.884107,49.359939,50.987053,34.513142,30.163328,135.236684,...,33.846933,115.293931,30.825114,198.357728,60.204022,42.263962,239.216899,50.453579,68.724565,1278.935856
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1417,Btg2,18.966770,14.669750,6.731129,6.139131,9.046286,9.289788,10.054565,14.350835,19.193748,...,8.369758,10.248349,17.057906,15.673512,11.310345,19.093871,19.343246,10.124844,14.698959,12.930617
24388,Rmnd5b,16.964722,18.928710,18.645228,14.794299,16.574740,14.255019,15.759684,14.350835,15.143691,...,14.348156,15.714136,10.812295,15.153230,13.548850,14.588576,15.496270,14.504693,14.088813,16.733740
5574,Tpd52,14.330449,12.776879,14.539239,14.593016,13.174793,12.439773,12.822395,13.154932,13.118663,...,11.037043,12.582696,13.498579,15.868618,15.198276,16.787589,15.062808,15.699197,16.252056,19.939229
10272,Slc5a6,8.008192,8.728238,15.212352,16.907770,30.053099,36.144749,23.328851,12.357663,10.477321,...,9.289511,19.357993,25.721173,23.477751,20.028735,15.285824,8.181597,7.223906,8.153762,9.344816
1476,Tmem9,12.749885,15.090388,15.818154,19.423807,20.338966,20.074484,20.335076,16.299713,12.590394,...,13.888280,18.731705,14.976036,16.063724,14.491379,14.266769,12.245304,14.618455,14.366152,15.810125

In [21]:
KO_supp.to_csv('KO_supp.csv', index =None)

In [ ]:
#WT_supp.to_csv('WT_supp.csv', index =None)

In [22]:
day_1 = WT_supp[WT_supp.columns[::2]] 
day_2 = WT_supp[WT_supp.columns[1::2]]
WT_supp = pd.concat([day_1,day_2], axis =1)
WT_supp

,Gene_ID,WT_00_rep2,WT_02_rep2,WT_04_rep2,WT_06_rep2,WT_08_rep2,WT_10_rep2,WT_12_rep2,WT_14_rep2,WT_16_rep2,...,WT_28_rep1,WT_30_rep1,WT_32_rep1,WT_34_rep1,WT_36_rep1,WT_38_rep1,WT_40_rep1,WT_42_rep1,WT_44_rep1,WT_46_rep1
24468,Gpx3,3.931571,7.656076,3.863426,7.542124,6.201246,6.181694,6.169824,8.095900,4.318454,...,3.840496,4.355118,4.290961,4.884628,8.799968,6.313808,5.886982,11340.949429,7.630222,7.045644
14153,Kap,0.275210,0.089024,0.154537,0.179574,0.000000,0.128785,0.180141,0.089954,0.048522,...,0.073856,0.000000,0.097522,0.053677,3.114595,0.773119,0.056606,8615.711097,1.707462,0.394556
15716,Saa1,36.013192,99.573499,23.103288,20.471480,20.117997,104.122906,73.587537,367.508886,27.900123,...,212.482839,35.409006,243.853381,1230.174652,64.121113,356.601282,63.285052,89.111330,44.287301,876.196308
7572,Cyp7a1,70.099914,49.497421,13.676528,37.441259,52.205841,140.054002,295.476028,231.812605,104.079590,...,44.904263,59.456833,158.180437,201.182241,138.426458,162.870468,135.513788,33.791016,93.750347,146.662129
24135,Hba-a1,58.698357,101.086909,105.316994,100.651442,66.771559,20.798824,108.354721,91.573625,77.635125,...,89.143826,43.677419,90.012666,123.564973,101.496257,82.530487,52.529990,170.309573,114.506684,132.007189
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4859,Kif3b,15.529706,12.953012,14.990093,12.390632,12.041955,13.973204,17.969050,14.212802,12.033444,...,15.361985,16.284356,17.017562,15.136978,17.056117,14.818120,14.321215,28.515626,14.833578,16.458625
37735,Ranbp6,15.647653,16.291417,10.740324,12.211058,11.176665,12.427780,16.933240,15.876960,14.362498,...,14.475717,14.453944,15.652257,16.103168,15.820167,16.364359,16.019383,17.323243,13.659698,17.360467
14787,Qpctl,16.630546,16.469466,11.744815,14.635312,12.835138,12.942922,13.375458,16.416686,14.799196,...,14.771139,13.759649,12.775362,14.868591,13.694332,18.876997,18.793057,13.972657,15.847384,15.838608
21024,Gsta2,15.490390,15.089591,33.611807,21.099990,33.529995,8.435436,6.845352,5.307312,26.250377,...,12.481613,14.075238,7.704226,8.695711,18.143754,7.473487,5.603954,62.663087,6.082834,5.692880
39353,Apool,15.097233,14.332886,16.226389,15.982120,17.161589,16.355732,17.743874,16.101846,15.575547,...,13.294025,14.138355,15.896061,14.814914,13.842646,13.529588,13.245709,21.743164,15.100369,14.824035

In [23]:
WT_supp.to_csv('WT_supp.csv', index =None)